<!DOCTYPE html>
<html ng-app="app">
  <head>
    <title>plotr</title>
    <script src="node_modules/angular/angular.min.js"></script>
    <script src="node_modules/chart.js/Chart.min.js"></script>
    <script src="node_modules/angular-chart.js/dist/angular-chart.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
  </head>
  <body ng-controller="PlotrController as plotr">
      <form name="form" ng-submit="plotr.addData()">
        <input type="text" placeholder="X" ng-model="plotr.dataX">
        <input type="text" placeholder="Y" ng-model="plotr.dataY">
        <button type="submit">Plot It</button>
      </form>
      <h1>{{plotr.dataPoints}}</h1>
  </body>
</html>