<!DOCTYPE html>
<html>
  <head>
    <title>plotr</title>
    <script src="node_modules/angular/angular.min.js"></script>
    <script src="node_modules/chart.js/dist/Chart.min.js"></script>
    <script src="node_modules/angular-chart.js/dist/angular-chart.min.js"></script>
    <script src="app.js"></script>
  </head>
  <body ng-app="app">
  <div ng-controller="PlotrController as plotr">
  <h1>Plotr</h1>
  <h2>Add points:</h2>
    <form name="form" ng-submit="plotr.addData()">
      <input type="number" placeholder="X" ng-model="plotr.dataX">
      <input type="number" placeholder="Y" ng-model="plotr.dataY">
      <button type="submit">Plot It</button>
    </form>
    <h3>X: {{plotr.dataPointsX}}</h3>
    <h3>Y: {{plotr.dataPointsY}}</h3>
    <canvas id="line" class="chart chart-line" chart-data="data"
      chart-labels="labels" chart-series="series" chart-options="options"
      chart-dataset-override="datasetOverride" chart-click="onClick">
    </canvas>
    </div>
  </body>
</html>